body {
	font-size: 18px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

#root {
	margin: 0 auto;
}

ul li {
	list-style-type: none;
}

input {
	padding: 5px;
	border: 1px solid #ededef;
}
